services:
  client:
    container_name: srs-registrar-client
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    env_file:
      - .env.prod
    ports:
      - "8080:80"
    restart: unless-stopped

networks:
  default:
    name: srs-registrar-client
