services:
  server:
    container_name: srs-registrar-server
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    environment:
      - PORT=3000
      - NODE_ENV=production
    ports:
      - "3000:3000"
    restart: unless-stopped

networks:
  default:
    name: srs-registrar-server
