services:
  server:
    image: srs-registrar-server-dev
    working_dir: /app
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    env_file:
      - .env.development
    ports:
      - "3000:3000"
    environment:
      PORT: 3000
      NODE_ENV: development
    volumes:
      - ./:/app
      - /app/node_modules
    command: pnpm dev
    depends_on:
      db-init:
        condition: service_completed_successfully

  db-init:
    image: srs-registrar-server-dev
    working_dir: /app
    build:
      context: .
      dockerfile: Dockerfile
      target: development
    env_file:
      - .env.development
    environment:
      NODE_ENV: development
    volumes:
      - ./:/app
      - /app/node_modules
    command: pnpm exec tsx src/seeders/init-database.ts
    restart: "no"

networks:
  default:
    name: srs-registrar-server-dev
